* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  background-color: #0f172a;
  color: #ffffff;
}

body {
  background-color: #0f172a;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}