.navbar {
    height: 84px;
    background: #0f172a;
    border-bottom: 1px solid rgba(255,255,255,0.08);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-image {
    height: 58px;
    width: auto;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 55px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    position: relative;
    transition: .25s;
    padding: 8px 0;
}

.nav-links a:hover,
.nav-links .active {
    color: #9b5cff;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #9b5cff;
    border-radius: 20px;
    transition: .3s;
}

.nav-links a:hover::after,
.nav-links .active::after {
    width: 100%;
}

@media (max-width: 900px) {

    .navbar{
        padding:0 25px;
    }

    .nav-links{
        gap:25px;
    }

    .logo-image{
        height:48px;
    }

}