.navbar {
  height: 70px;
  background: #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-bottom: 1px solid #334155;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}